#about {
  padding-top: 3%;
  line-height: 2.5em;
}

.resume-button {
  color: #222;
  background-color: white;
  border-radius: 300px;
  padding: 15px 30px;
  margin-top: 50px;
  font-weight: 700;
}

.name-and-email li {
  list-style-type: none;
  display: inline-block;
}

.divider {
  color: #fff;
  font-weight: 300;
}

.email {
  color: #fff;
  text-transform: lowercase;
  font-size: 18px;
  vertical-align: 10%;
}

.email-me {
  margin-bottom: 15%;
  padding-top: 0;
  font-weight: 600;
}