.resume-button {
  color: #222;
  background-color: white;
  border-radius: 300px;
  padding: 15px 30px;
  margin-top: 50px;
  font-weight: 700;
}

.email {
  color: #fff;
  text-transform: lowercase;
}