body {
	font-family: PT Sans, Open Sans;
}

nav {
	text-align: center;
	font-weight: bold;
	background-color: black;
}

nav a {
	color: white;
	padding: 20px;
}

p {
	/*text-align: margin 0 auto;*/
	text-align: justify;
	width: 80%;
}

/*h1, h2, h4 {*/
/*	text-align: center;*/
/*}*/

h1 {
	text-align: center;
	margin-right: 75px;
}

h2 {
	text-align: center;
	position: relative;
	left: 30px;
}

h4 {
	text-align: center;
	position: relative;
	right: 35px;
}

ul {
	text-align: center;
	line-height: 2em;
	font-weight: bold;
	list-style-type: none;
}

code {
	text-align: center;
}

pre {
	width: 70%;
	margin-right: 60%;
	text-align: center;
	background-color: #d3d3d3;
}

footer {
	display: inline-block;
}

/*Project index page*/
#project_nav {
	text-align: center;
	font-weight: bold;
	background-color: #33cc33;
	/*background-color: #11a79c;*/
	background-color: #009933;
	padding-bottom: 2px;
}

li a {
	color: #0059b3;
}

li a:hover {
	color: #0080ff;
}

/*Birdwatchers Meet*/

#birds {
	background-image: url("../../tbogin.github.io/imgs/birdwatchers.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	font-family: Charter;
}


#bird_nav {
	background-color: transparent;
	text-align: right;
}

.bird-h1 {
	margin-top: 8%;
	font-size: 64px;
	margin-bottom: 10px;
}

.bird-graph {
	font-weight: bold;
	width: 80%;
	text-align: justify;
	margin-left: 5%;
	font-size: 24px;
}


