body {
	font-family: PT Sans, Open Sans;
	font-size: 100%;
}

nav {
	height: 240px;
	width: 70px;
	float: left;
	display: inline-block;
	background-color: #00ff80;
	margin-left: 100px;
}

nav ul {
	font-weight: bold;
	list-style-type: none;
	text-indent: -35px;
	line-height: 200%;
}


h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1.2em;
}

img {
	display: block;
	width: 180px;
	height: 240px;
	margin-left: 100px;
}

#github {
	width: 75px; 
	height: 75px;
	display: inline-block;
	margin: 0 auto;
}

#IN {
	width: 75px; 
	height: 75px;
	display: inline-block;
	margin: 0 auto;
}

footer {
	font-weight: bold;
	margin-left: 100px;
}