body {
	font-family: PT Sans, Open Sans;
}

nav {
	text-align: right;
	display: inline-block;
}

h2 {
	text-align: center;
	display: inline-block;
}

img {
	display: inline-block;
	width: 360px;
	height: 480px;
	margin: 1em;
}